<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div id="article" class="box" th:fragment="article">
    <div>
        <div class="label">标题:</div>
        <el-input v-model="article.title"></el-input>
    </div>
    <div>
        <el-collapse accordion>
            <el-collapse-item style="font-size:20px" title="是否添加到专栏">
                <div>
                    <el-autocomplete
                        v-model="column"
                        :fetch-suggestions="querySearchAsync"
                        placeholder="请输入内容">
                    </el-autocomplete>
                </div>
            </el-collapse-item>
        </el-collapse>
    </div>
    <div class="label">正文：</div>
    <div id="content">
    </div>
    <div>
        <div class="label">标签：</div>
        <el-input v-model="channel"></el-input>
    </div>
    <div>
        <div class="label">摘要：</div>
        <div id="summary"></div>
    </div>
    <div id="switch">
        <el-button @click="addArticle(false)" type="danger">添加到草稿</el-button>
        <el-button @click="addArticle(true)" type="primary">添加文章</el-button>
    </div>

    <!-- 引入vditor -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vditor/dist/index.classic.css" />
    <script src="https://cdn.jsdelivr.net/npm/vditor/dist/index.min.js"></script>

    <script src="https://cdn.bootcss.com/axios/0.19.0-beta.1/axios.min.js"></script>
    <script th:inline="javascript">
       var vue = new Vue({
            el: '#article',
            data: function() {
                return {
                    restaurants: [],//搜索框数据
                    vditor :null,
                    msg:"",
                    channel:"",
                    column:"",
                    article:{
                        title:"",
                        channel:"",
                        content:"",
                        summary:"",
                        column: {}
                    },
                    summary :null
                }
            },
            methods:{
                /**
                 * 添加文章
                 */
                addArticle(flag){
                    this.vditor.getHTML().then(res =>{
                        vue.article.content = res
                        console.log(res)
                        vue.summary.getHTML().then(res=>{
                            console.log(res)
                            vue.article.summary = res
                            vue.submit(flag)
                            console.log(vue.article)
                        })
                    })

                },
                submit(flag){
                    let channels = this.channel.split(",");
                    this.article.channel = new Array(channels.length)

                    for(let i =0 ;i<channels.length;i++){
                        this.article.channel[i] = {}
                        this.article.channel[i].name = channels[i]
                    }
                    this.article.isPublic=flag
                    console.log(this.column)
                    if (this.column !=""){
                        this.article.column.name = this.column
                    }
                    if([[${article}]]){
                        axios.put('/article/'+[[${article!=null? article.id: "" }]],this.article).then(function (response){
                            if(response.data.code==20000){
                                vue.open(response.data.message,"success")
                            }else{
                                vue.open(response.data.message,"error")
                            }
                        })
                    }else{
                        axios.post('/article',this.article).then(function (response){
                            if(response.data.code==20000){
                                vue.open(response.data.message,"success")
                            }else{
                                vue.open(response.data.message,"error")
                            }
                        })
                    }
                },
                /**
                 * 返回搜索的专栏
                 * queryString 输入的字段
                 * cb 回掉函数：返回专栏列表
                 */
                querySearchAsync(queryString, cb){
                    this.restaurants = [[${columns}]];
                    let restaurant = new Array();
                    for (s of this.restaurants) {
                        if (s.name != null) {
                            restaurant.push({"value": s.name})
                        }
                    }

                    let results = queryString ? restaurant.filter(this.createStateFilter(queryString)) : restaurant;

                    cb(results);
                },
                createStateFilter(queryString) {
                    return (state) => {
                        return (state.value.toLowerCase().indexOf(queryString.toLowerCase()) === 0);
                    };
                },
                open(message,type){
                    this.$message({
                        message: message,
                        type: type
                    });
                }
            }
        })
           //summary
           const summary = new Vditor("summary",{
               cache:false,//缓存
               resize:{
                   enable:true
               }
           })
           const vditor = new Vditor("content", {
               cache:false,//缓存
               // placeholder:"请输入内容",
               height:500,
               preview:{
                   show: true
               },
               upload:{
                   url:"http://localhost:8080/file",//文件上传路径
                   success:function(textarea,msg){//textarea
                       //将返回的信息传为json对象
                       msg = JSON.parse(msg)

                       if(msg.code === 20000){//请求成功
                           vue.open(msg.message,"success")
                           let content;
                           //获取文件后缀，判断类型
                           let temp = msg.data.url.substring(msg.data.url.lastIndexOf('.'))
                           console.log(temp)
                           if(temp ==".png"|| temp ==".jpg"){
                               content = "!["+ msg.data.file +"]("+msg.data.url+")"
                           }else{
                               content = "["+ msg.data.file +"]("+msg.data.url+")"
                           }
                           //插入上传文件后的markdown代码
                           vditor.insertValue(content)
                       }else{//请求失败
                           vue.open(msg.message,"error")
                       }

                   }
               },
               resize:{
                   enable:true
               }
           })
       vue.summary = summary;
       vue.vditor = vditor;
           //取到浏览器的专栏数据来
           vue.restaurants = []
           if(/*[[${article!=null}]]*/ false){
               vue.article = [[${article}]];

               vditor.html2md(vue.article.content).then(res =>{
                   vditor.setValue(res)
                   summary.setValue(vue.article.summary ? vue.article.summary:"")
                   for(let i=0;i<vue.article.channel.length;i++){
                       if(i==vue.article.channel.length-1){
                           vue.channel+=vue.article.channel[i].name
                           break
                       }
                       vue.channel+=vue.article.channel[i].name +","
                   }
               if (vue.article.column !=null){
                   this.column = vue.article.column.name
               }
               })


           }
    </script>
</div>
</html>