<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div id="dashboard" th:fragment="index">
    <div id="frist">
        <div>
            <el-radio-group v-model="tabPosition" @change="fetchData" style="margin-bottom: 30px;">
                <el-radio-button label="7">近7天</el-radio-button>
                <el-radio-button label="30">近30天</el-radio-button>
            </el-radio-group>
        </div>
        <div id="line"></div>
    </div>

    <div id="center">
        <div id="pie"></div>
        <div>
            <div v-for="(article,index) of articles" :key="index" class="row">
                <div class="idnex">{{index+1}}</div>
                <div class="text">
                    <a :href="article.url" style="font-size: 25px;"> {{article.title}}</a>
                    <br/><span style="color: rgb(153, 152, 152);font-size: 15px;">发布时间：{{article.createTime}}</span>
                </div>
                <div class="visits">
                    浏览人数：{{article.visits}}
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/js/date.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/4.2.1/echarts.js"></script>
    <script type="text/javascript" src="/js/echart.js" ></script>
    <script th:inline="javascript">
        var vue = new Vue({
            el: '#dashboard',
            data: function() {
                return {
                    articles:[],
                    line:{},//折线图
                    tabPosition: 7
                }
            },
            methods:{
                fetchData(){
                    this.line = {
                        text:"增量数据-趋势总览",
                        data:[{
                            name:'访问量',
                            type:'line',
                            stack: '总量',
                            areaStyle:{},
                            data:[120, 132, 101, 134, 90, 230, 210]
                        },
                            {
                                name:'评论',
                                type:'line',
                                stack: '总量',
                                areaStyle:{},
                                data:[220, 182, 191, 234, 290, 330, 310]
                            }],
                        legend:['访问量','评论'],
                        category: []
                    }

                    this.articles = [[${articles}]]
//			        = JSON.parse(str)

                    this.line.category = this.test(this.tabPosition)
                    this.drawLine()
                },
                drawLine(){
                    // 基于准备好的dom，初始化echarts实例
                    let line = echarts.init(document.getElementById("line"), 'light')
                    let option = drawLine1(this.line)//selectedMode: 'single'//设置只能单选
                    option.legend.selectedMode = "single"//设置只能单选
                    line.setOption(option);
                },
                drawPie(){
                    let pie = echarts.init(document.getElementById("pie"))
                    pie.setOption(drawPie1())
                },
                test(num){
                    let array = new Array()
                    let today = new Date();
                    array.push(dateTimeFormatter(today.getTime(),"yyyy-MM-dd"))
                    for(let i=1;i<num;i++){
                        today = new Date(today-24*60*60*1000)
                        array.push(dateTimeFormatter(today.getTime(),"yyyy-MM-dd"))
                    }
                    array.reverse()
                    return array;
                },
            }
        })
        vue.fetchData()
        vue.drawPie()
    </script>
</div>
</html>