<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link href="/css/admin.css" rel="stylesheet">
<link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<!-- Custom fonts for this template-->
<link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<!-- Custom styles for this template-->
<link href="/css/sb-admin.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<!-- 引入样式 -->
<link href="https://cdn.bootcss.com/element-ui/2.7.2/theme-chalk/index.css" rel="stylesheet">
<!-- 引入组件库 -->
<script src="https://cdn.bootcss.com/element-ui/2.7.2/index.js"></script>
<div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">首页</a>
        </li>
        <li class="breadcrumb-item active">页面设计</li>
    </ol>
</div>
<div class="card mb-3">
<div id="pageFrom" style="margin: 20px" th:fragment="pageFrom">
    <el-tabs type="border-card">
        <el-tab-pane label="页面信息配置">
            <div>
                <div class="label">博客标题</div>
                <el-input v-model="pageInfo.title"></el-input>

                <div class="label">博客子标题</div>
                <el-input v-model="pageInfo.toTitle"></el-input>

                <div class="label">Meta Description</div>
                <el-input v-model="pageInfo.meta"></el-input>

                <div class="label">HTML head</div>
                <el-input
                        type="textarea"
                        :rows="3"
                        v-model="pageInfo.head">
                </el-input>

                <div class="label">公告</div>
                <el-input
                        type="textarea"
                        :rows="3"
                        v-model="pageInfo.notice">
                </el-input>

                <div class="label">页脚</div>
                <el-input
                        type="textarea"
                        :rows="2"
                        v-model="pageInfo.footer">
                </el-input>
                <div style="margin-top: 5px">
                    <el-button type="primary" @click="updatePage">更新配置</el-button>
                </div>

            </div>
        </el-tab-pane>
        <el-tab-pane label="皮肤管理">暂无</el-tab-pane>
    </el-tabs>
    <script src="https://cdn.bootcss.com/axios/0.19.0-beta.1/axios.min.js"></script>
    <script>
        new Vue({
            el: '#pageFrom',
            data(){
                return {
                    pageInfo: {
                        title: "",
                        toTitle: "",
                        meta: "",
                        head: "",
                        notice: "",
                        footer: ""
                    }
                }
            },
            created(){
                this.fetchData();
            },
            methods:{
                fetchData(){
                    axios.get("/pageInfo").then(response =>{
                        if(response.data.code == 20000){
                            this.pageInfo = response.data.data
                        }else{
                            this.$message({
                                message: "请求失败",
                                type: "error"
                            });
                        }
                    })
                },
                updatePage(){
                    axios.put("/pageInfo",this.pageInfo).then(response => {
                        if(response.data.code == 20000){
                            this.$message({
                                message: response.data.message,
                                type: "success"
                            });
                        }
                    })
                }
            }
        })
    </script>
</div>
    </div>
</html>