<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div id="box" style="margin: 20px" th:fragment="password">
    <el-tabs type="border-card">
        <el-tab-pane label="修改密码">
            <div id="from">
                <div class="label">用户名   <span id="username">{{username}}</span></div>

                <div class="label">新密码</div>
                <el-input v-model="newPassword" show-password></el-input>
                <div class="label">确认密码</div>
                <el-input v-model="rePassword" show-password></el-input>
                <div style="margin-top: 5px">
                    <el-button @click="update" type="danger" >确认修改</el-button>
                </div>
            </div>
        </el-tab-pane>
    </el-tabs>

    <script src="https://cdn.bootcss.com/axios/0.19.0-beta.1/axios.min.js"></script>
    <script th:inline="javascript">
        new Vue({
            el: '#box',
            data(){
                return{
                    username: [[${user.username}]],
                    newPassword:"",
                    rePassword:""
                }
            },
            methods:{
                update(){
                    if (this.newPassword ==""||this.rePassword==""){
                        this.open("密码不能为空","error")
                        return ;
                    }
                    if (this.newPassword != this.rePassword) {
                        this.open("新密码不相同","error")
                        return;
                    }
                    //确认信息对话框
                    this.$confirm('是否修改当前密码?', '提示', {
                        confirmButtonText: '确定',
                        cancelButtonText: '取消',
                        type: 'warning'
                    }).then(() => {//确认
                        axios.put(`/user/`+[[${user.id}]],{username: this.username,password:this.newPassword}).then(response=>{
                            if(response.data.code==20000){
                                this.open(response.data.message,"success")
                                this.fetchData()
                            }else{
                                this.open(response.data.message,"error")
                            }
                        })
                    }).catch(() => {//取消
                            this.open("已取消删除","info")
                    });
                },
                open(message,type){
                    this.$message({
                        message: message,
                        type: type
                    });
                }
            }
        })
    </script>
</div>
</html>