<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="bjzt">
  <title>后台管理系统</title>
  <!-- Bootstrap core CSS-->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!-- Custom styles for this template-->
  <link href="/css/sb-admin.css" rel="stylesheet">
  <link href="/css/admin.css" rel="stylesheet">


</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="/" target="_blank">ZTBlog</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
          <a class="nav-link" href="/admin/index" target="iframe">
            <i class="fa fa-fw fa-area-chart"></i>
            <span class="nav-link-text">首页</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Components">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseComponents" data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-table"></i>
            <span class="nav-link-text">文章</span>
          </a>
          <ul class="sidenav-second-level collapse" id="collapseComponents">
            <li>
              <a href="/admin/article" target="iframe">发布文章</a>
            </li>
            <li>
              <a href="/admin/articleManage" target="iframe">文章管理</a>
            </li>
            <li>
              <a href="/admin/tempArticle" target="iframe">草稿箱</a>
            </li>
          </ul>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Charts">
          <a class="nav-link" href="/admin/comment" target="iframe">
            <i class="fa fa-fw fa-dashboard"></i>
            <span class="nav-link-text">评论管理</span>
          </a>
        </li>   
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Example Pages">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseExamplePages" data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-wrench"></i>
            <span class="nav-link-text">工具</span>
          </a>
          <ul class="sidenav-second-level collapse" id="collapseExamplePages">
            <li>
              <a href="/admin/pageManage" target="iframe">页面设计</a>
            </li>
            <li>
              <a href="/admin/column" target="iframe">专栏管理</a>
            </li>
            <li>
              <a href="/admin/link" target="iframe">链接管理</a>
            </li>
            <li>
              <a href="/admin/password" target="iframe">更改密码</a>
            </li>
            <li>
              <a href="/admin/info" target="iframe">数据备份</a>
            </li>
          </ul>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Link">
          <a class="nav-link" target="iframe" href="https://github.com/bjzt/bjzt">
            <i class="fa fa-fw fa-link"></i>
            <span class="nav-link-text">关于</span>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav sidenav-toggler">
        <li class="nav-item">
          <a class="nav-link text-center" id="sidenavToggler">
            <i class="fa fa-fw fa-angle-left"></i>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
            <i class="fa fa-fw fa-sign-out"></i>登出</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="content-wrapper">
    <iframe style="width: 100%" id="iframe" name="iframe" onLoad="changeFrameHeight()" frameborder="0" scrolling="no" src="/admin/index"></iframe>
  </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <footer class="sticky-footer">
      <div class="container">
        <div class="text-center">
          <small>Copyright © 版权所属 /
            <a href="https://github.com/bjzt" target="_blank" title="BJZT">BJZT</a>
            - Collect from
            <a href="https://github.com/bjzt/hmp" title="ZTBlog" target="_blank">ZTBlog</a>
          </small>
        </div>
      </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">是否要退出后台</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">取消</button>
            <a class="btn btn-primary" id="layout">登出</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!--<script src="/vendor/datatables/dataTables.bootstrap4.js"></script>-->
    <!-- Custom scripts for all pages-->
    <script src="/js/sb-admin.min.js"></script>
    <script>
      $("#layout").click(function () {
        $.ajax({
          url:"/admin/layout",
          type:"POST",
          success:function (res) {
            if (res.code==20000){
              window.location.href="/"
            }
          }
        })
      })
      function changeFrameHeight(){
        var ifm= document.getElementById("iframe");
        var subWeb = document.frames ? document.frames["iframe"].document : ifm.contentDocument
          ifm.height = subWeb.body.scrollHeight+50;
        console.log(ifm.height)
      }
      window.onresize=function(){ changeFrameHeight();}
    </script>
  </div>
</body>

</html>
