<html xmlns:th="http://www.thymeleaf.org">

        <div class="content" th:fragment="index">
            <div class="articleBox" th:each="article : ${articles}" >
                <h1><a target="_blank" th:href="${article.url}" th:text="${article.title}"></a></h1>
                <div style="color:#a7a7a7; margin-top: 10px;">
                    [[${#dates.format(article.createTime,'yyyy-MM-dd')}]] | [[${article.comments}]] | [[${article.visits}]]
                </div>
                <div class="text vditor-reset" th:utext="${article.summary}">
                </div>
                <div th:if="${!article.channel.isEmpty()}">
                <a th:href="@{'/channel/q/'+${c.id}}" class="channel"
                      style="border: none;background-color: #bbb;color:#eee;"
                      th:each="c: ${article.channel}" th:text="'#'+${c.name}">
                </a>
                </div>
            </div>
        </div>
