<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${pageInfo.title}">Title</title>
</head>
<body>
<div th:replace="header.html"></div>
<div class="box">
    <div class="content" th:replace="${html.file}::${html.name}">
    </div>
    <div class="sidebar">
        <div id="notice">
            公告
        </div>
        <div class="labelBox" th:if="${!columns.isEmpty()}">
            <div class="gridLabel">
                专栏
            </div>
            <div style="padding: 15px;">
                <span class="channel" th:each="column : ${columns}" >
                    <a th:href="@{'/column/q/'+${column.id}}" th:text="${column.name}" th:aria-label="${'2 篇文章'}"></a>
                </span>
            </div>
        </div>

        <div class="labelBox" th:if="${!channels.isEmpty()}">
            <div class="gridLabel">
                频道
            </div>
            <div style="padding: 15px;">
                <span class="channel" th:each="channel : ${channels}">
                    <a th:href="@{'/channel/q/'+${channel.id}}" th:text="${channel.name}" th:aria-label="${'2 篇文章'}"></a>
                </span>
            </div>
        </div>

        <div class="labelBox" th:if="${user !=null}">
            <div class="gridLabel">
                HMP
            </div>
            <div style="padding: 15px;overflow: hidden">
                <div style="width: 30%;height: 30%;float: left">
                    <img th:src="${user.image}" style="width: 100%;" />
                </div>
                <div style="float: right;width: 40%">
                    <div >文章 <strong>[[${articleTotal}]]</strong></div>
                    <div>评论 <strong>[[${commentTotal}]]</strong></div>
                    <div>浏览 <strong>[[${visitsTotal}]]</strong></div>
                </div>
            </div>
        </div>

        <div class="labelBox" th:if="${CommentMax.isEmpty()}">
            <div class="gridLabel">
                访问最多的文章
            </div>
            <div>
                <div class="rows" th:each="article: ${CommentMax}" :key="index">
                    <a target="_blank" th:href="@{'/article/q/'+${article.id}}">[[${article.title}]]</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="footer.html"></div>
</body>
</html>