<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

        <div class="content" style="border: #eee 1px solid;" th:fragment="label">
            <div style="border-bottom: #eee 1px solid;padding-top: 10px;padding-bottom: 10px">
                <h3>共[[${channels.size()}]]个标签 </h3>
            </div>
            <div>
                <a th:href="@{'/channel/q/'+${channel.id}}" class="channel" th:each="channel : ${channels}"
                      style="border: none; background-color: #bbb;color:#eee;">
                    <span th:aria-label="${'2 篇文章'}">#[[${channel.name}]]</span>
                </a>
            </div>
        </div>
